/* Basic styles for the entire game */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#landing-page, #intro-page, #betting-page, #game-page {
    margin: 20px;
}

/* Style for player information */
.player-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

#dealer-info {
    border: 2px solid #000;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.player-bet {
    margin-bottom: 15px;
}

/* Style for game controls */
#game-controls {
    margin: 20px;
}

/* Style for game log */
#game-log {
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    white-space: pre-wrap;
}

/* Highlight the current player */
.player-info.active {
    border: 2px solid red;
}
