body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e8b57;
    color: white;
    margin: 0;
    overflow: hidden; /* Prevents overflow */
}

h1, h2 {
    text-align: center;
}

#landing-page, #intro-page, #betting-page, #game-page {
    text-align: center;
    width: 100%;
    max-width: 1200px; /* Ensures the content doesn't stretch too much */
    margin: 0 auto;
}

input[type="number"], input[type="text"] {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%; /* Full width */
    max-width: 200px; /* Restricts the input width */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}

#player-info-display, #game-controls, #betting-table, #game-table {
    margin: 20px;
}

#game-log {
    margin: 20px;
    font-size: 18px;
}

.player-bet, .player-info {
    margin: 10px 0;
}

#game-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-info {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #333;
    width: 200px; /* Fixed width */
}

#dealer-info {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #444;
    width: 200px; /* Fixed width */
}

#game-controls {
    display: flex;
    justify-content: center;
    margin: 20px;
}

button#hit, button#stay, button#restart-game {
    margin: 5px;
}
